.parsed_markdown {
  padding: 1.5rem;
  overflow: auto;
  border: none;
}

img {
  width: 100%;
}


.custom-textarea {
  height: auto;
  padding: 1.5rem;
  font-family: monospace;
  outline: none;
  border: none;
  resize: vertical;
}

.margin-small {
  margin-left: .5rem;
}

.custom-textarea:active, 
.custom-textarea:focus{
  outline: none;
  border: none;
}
